body {
  color: rgb(221, 31, 56);
  background: bisque;
  font-family: "Satisfy", cursive;
}

img {
  width: 200px;
  text-align: center;
  border-radius: 10px;
}

.App {
  text-align: center;
}

.App-header {
  text-align: center;
}
